<div *ngIf="persons && persons!.length > 0; else emptyData">
  <table class="table align-middle text-center">
    <thead>
      <tr>
        <th scope="col">Фото</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Email</th>
        <th scope="col">Дата рождения</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td><img [src]="person.imageUrl" alt="" class="table-image"></td>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.email}}</td>
        <td>{{person.birthday | date:'MMMM d, y'}}</td>
        <td><a routerLink="/edit/{{person.id}}"><i class="far fa-edit fa-lg text-info" title="Редактировать"></i></a></td>
        <td><i class="fas fa-trash-alt fa-lg text-danger" title="Удалить" (click)="onDelete(person.id)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #emptyData>
  <h4>Нет данных</h4>
</ng-template>
<div>
  <a routerLink="/edit" class="btn btn-success">Добавить запись</a>
</div>